*{
    background-color: black;
    font-family: monospace;
}
p{
    color: rgb(63, 174, 19);
}
div{
    color: antiquewhite;
}
.navigation{
    color: antiquewhite;
    font-weight: bold;
}
.publications{
    font-size: 16px;
    color: darkred;
    font-weight: bolder;
}